In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
path = "D:\Coding\Git Repository\Data-Science-Bootcamp-with-Python\Datasets\significant_earthquakes_2000_2020.csv"

In [4]:
df = pd.read_csv(path)
df.head()

,Year,Mo,Dy,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Total Deaths
0,2000,1,3,INDIA-BANGLADESH BORDER: MAHESHKHALI,22.132,92.771,33.0,4.6,NaN
1,2000,1,11,CHINA: LIAONING PROVINCE,40.498,122.994,10.0,5.1,NaN
2,2000,1,14,CHINA: YUNNAN PROVINCE: YAOAN COUNTY,25.607,101.063,33.0,5.9,7.0
3,2000,2,2,"IRAN: BARDASKAN, KASHMAR",35.288,58.218,33.0,5.3,1.0
4,2000,2,7,SOUTH AFRICA; SWAZILAND: MBABANE-MANZINI,-26.288,30.888,5.0,4.5,NaN

In [23]:
df[df["Mag"] > 8.5]

,Year,Mo,Dy,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Total Deaths
272,2004,12,26,INDONESIA: SUMATRA: ACEH: OFF WEST COAST,3.316,95.854,30.0,9.1,227899.0
294,2005,3,28,INDONESIA: SUMATERA: SW,2.085,97.108,30.0,8.6,1313.0
614,2010,2,27,"CHILE: MAULE, CONCEPCION, TALCAHUANO",-36.122,-72.898,23.0,8.8,558.0
674,2011,3,11,JAPAN: HONSHU,38.297,142.372,30.0,9.1,18428.0
736,2012,4,11,INDONESIA: N SUMATRA: OFF WEST COAST,2.327,93.063,20.0,8.6,10.0

In [30]:
df.set_index("Year", inplace=True)

In [32]:
df.loc[2000]

,Mo,Dy,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Total Deaths
Year,,,,,,,,
2000,1,3,INDIA-BANGLADESH BORDER: MAHESHKHALI,22.132,92.771,33.0,4.6,NaN
2000,1,11,CHINA: LIAONING PROVINCE,40.498,122.994,10.0,5.1,NaN
2000,1,14,CHINA: YUNNAN PROVINCE: YAOAN COUNTY,25.607,101.063,33.0,5.9,7.0
2000,2,2,"IRAN: BARDASKAN, KASHMAR",35.288,58.218,33.0,5.3,1.0
2000,2,7,SOUTH AFRICA; SWAZILAND: MBABANE-MANZINI,-26.288,30.888,5.0,4.5,NaN
2000,3,28,JAPAN: VOLCANO ISLANDS,22.338,143.730,127.0,7.6,NaN
2000,4,5,GREECE: CRETE,34.220,25.690,38.0,5.5,NaN
2000,5,4,"INDONESIA: SULAWESI: LUWUK, BANGGAI, PELENG,",-1.105,123.573,26.0,7.6,46.0
2000,5,7,"TURKEY: DOGANYOL, PUTURGE",38.164,38.777,5.0,4.1,NaN
2000,5,17,TAIWAN: TAI-CHUNG COUNTY,24.223,121.058,10.0,5.4,3.0
2000,6,4,"INDONESIA: SUMATRA: BENGKULU, ENGGANO",-4.721,102.087,33.0,7.9,103.0
2000,6,6,"TURKEY: CERKES, CUBUK, ORTA",40.693,32.992,10.0,6.0,2.0
2000,6,7,CHINA: YUNNAN PROVINCE: LIUKU; MYANMAR,26.856,97.238,33.0,6.3,NaN
2000,6,7,INDONESIA: SOUTHERN SUMATERA: LAHAT,-4.612,101.905,33.0,6.7,1.0
2000,6,10,TAIWAN: NAN-TOU,23.843,121.225,33.0,6.4,2.0
2000,6,17,"ICELAND: VESTMANNAEYJAR, HELLA",63.966,-20.487,10.0,6.5,NaN
2000,6,18,"AUSTRALIA: S, COCOS ISLANDS",-13.802,97.453,10.0,7.9,NaN
2000,6,21,"ICELAND: GRIMSNES, SELFOSS, EYRARBAKKI, STOKK...",63.980,-20.758,10.0,6.5,NaN
2000,7,1,JAPAN: NEAR S COAST HONSHU: KOZU-SHIMA,34.221,139.131,10.0,6.1,1.0
2000,7,6,NICARAGUA: MASAYA,11.884,-85.988,33.0,5.4,7.0
2000,7,12,"INDONESIA: JAWA:BANDUNG,CIBADAK,CIMANDIRI,KADU...",-6.675,106.845,33.0,5.4,NaN
2000,7,15,JAPAN: NEAR S COAST HONSHU: NII-JIMA,34.319,139.260,10.0,6.1,NaN
2000,7,16,"PHILIPPINES: BASCO, MOUNT IRADA, BATAN ISLANDS",20.253,122.043,33.0,6.4,NaN
2000,7,30,JAPAN: HONSHU: S,33.901,139.376,10.0,6.5,NaN
2000,8,4,"RUSSIA: SAKHALIN ISLAND, UGLEGORSK, MAKAROV",48.786,142.246,10.0,6.8,NaN
2000,8,21,CHINA: YUNNAN PROVINCE: WUDING,25.826,102.194,33.0,4.2,1.0
2000,9,3,CALIFORNIA: NAPA,38.379,-122.413,10.0,5.0,NaN
2000,10,2,"TANZANIA: NKANSI, RUKWA",-7.977,30.709,34.0,6.5,NaN
2000,10,6,"JAPAN: HONSHU: W: OKAYAMA, TOTTORI",35.456,133.134,10.0,6.7,NaN
2000,10,30,AFGHANISTAN-TAJIKISTAN: RAKHOR,37.542,69.582,33.0,5.1,NaN
2000,11,8,PANAMA-COLOMBIA: JURADO,7.042,-77.829,17.0,6.5,NaN
2000,11,16,"PAPUA NEW GUINEA: NEW IRELAND, DUKE OF YORK",-4.001,152.327,17.0,8.0,2.0
2000,11,16,"PAPUA NEW GUINEA: NEW IRELAND, NEW BRITAIN",-5.233,153.102,30.0,7.8,NaN
2000,11,17,PAPUA NEW GUINEA: NEW BRITAIN,-5.496,151.781,33.0,7.8,NaN
2000,11,25,AZERBAIJAN: BAKU,40.245,49.946,50.0,6.8,31.0
2000,12,6,TURKMENISTAN: NEBITDAG-TURKMENBASHI,39.566,54.799,30.0,7.0,11.0
2000,12,15,TURKEY: AFYON-BOLVADIN,38.457,31.351,10.0,6.0,6.0